In [1]:
import pandas as pd
import json
import glob

files = glob.glob("./*.json")
all_data = []
for f in files:
    with open(f,'r') as data:
        form_id = f.split("-")[-1].split(".")[0]
        data = json.load(data)
        questions = data.get("questions")
        data = data.get("questionOptions")
        for d in data:
            question = list(filter(lambda x: x["keyId"] == d["questionId"], questions))[0]
            d.update({"form_id": form_id, "variable": question.get("variableName")})
            all_data.append(d)
data = pd.DataFrame(all_data)
#data = data[data['code'] == data['code']]
#data = data[['form_id','questionId','variable','text','code']]
#data = data.groupby(['form_id','questionId','variable','text','code']).first()
#data.to_excel("option_list.xlsx")

In [2]:
data.to_csv("./option_with_codes.csv")

,keyId,text,code,order,questionId,translationMap,form_id,variable
0,466760034,No,None,2,444670046,None,519630048,None
1,521620058,Yes,None,1,444670046,None,519630048,None
2,515650053,Male,None,1,519660049,None,519630048,None
3,523420046,Female,None,2,519660049,None,519630048,None
4,515640056,Offspring,None,3,517600056,None,519630048,None
...,...,...,...,...,...,...,...,...
425,584860069,No,SEC-2,2,545530057,None,563350033,hch_cleaning_protocols
426,545530058,"Yes, all have been trained",SEC-1,1,575740004,None,563350033,hch_cleaningstaff_trained
427,570620003,"No, there are no staff responsible for cleaning",SEC-4,4,575740004,None,563350033,hch_cleaningstaff_trained
428,572480008,"No, some but not all have been trained",SEC-2,2,575740004,None,563350033,hch_cleaningstaff_trained
429,586850059,"No, none have been trained",SEC-3,3,575740004,None,563350033,hch_cleaningstaff_trained